.tpost .box{
    margin-bottom: 1rem;
    padding-top: 20px;
}
.tpost .img{
    width: 150px !important;
    height: 150px !important;

}
.tpost img{
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
    
}
.tpost .text{
    padding: 0 ;
  padding-left: 10px;
    
}
.tpost h1{
    font-size: 1.2rem;
    
}
.tpost span{
    font-size: 1.1rem;
    color: gray;
    
}
@media screen and (max-width:768px){
    .tpost .img, 
    .tpost img{
        width: 200px;
        height: 150px;
    }
    .tpost .text{
        width: 100%;
        margin-right: 0;
        /* text-align: left; */
    }
}