.topHeading{
    margin-left: 5rem;
    background-image: url('../../../public/images/title_pattern.png');
    height: 3rem;
    background-position: center;
}
.topHeading>h6{
    font-weight: 400;
    background-color: red;
    color:white;
    font-weight: bold;
    height: 3rem;
    width: fit-content;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: 0.5rem;
}
.sideContent .topHeading>h6  {
    background-color: black;
}
.sideContent .topHeading{
    margin-left: 0;
}
          
@media screen and (max-width:768px){.sideContent .discover .topHeading{
    margin-left: 1rem;
}
}
.sideContent .discover .topHeading{
    margin-left: 5rem;
}